
html{
    scroll-behavior: smooth  !important;
}
body{
    background-color: #1e1e1e !important;
}
*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: moncerat;
    src: url(font/static/Montserrat-Regular.ttf);
}
p{
    font-size: 15px !important;    
    font-family: moncerat !important;
}
h2,h1,li,h3{
    font-family: moncerat !important;
}
.arrow {
        top: 40px;    
        font-size: 40px;        
        position: fixed;
        cursor: pointer;
        transition: transform 0.3s ease, opacity 0.3s ease, top 0.5s ease;
        animation:  entrada-li 0.4s cubic-bezier(0.16, 0.02, 0.73, 0.98);
}
.arrow img{
    width: 30px;
}
.arrow.hide {
        opacity: 0;
        top: -30px; /* Mueve la flecha hacia arriba */
}
.accordion-button[aria-expanded="true"] {
    color: red; /* Cambia el color del texto del botón cuando esté expandido */
  }
 .dynamic-color {
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out !important; 
}
.dynamic-color:hover {
    box-shadow: 0 0 20px 3px red;
    transition: background-color 0.3s, box-shadow 0.3s !important; 
}
.color-btn {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 99px;    
    transition: transform 0.2s ease;
}
.colors{
    top: 10px;
    gap: 10px;    
    width: 100%;
    z-index: 4;    
    display: flex;    
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: #1e1e1e;
    transform: translateY(-55px);  /* Inicialmente fuera de la vista */
    transition: transform 0.5s ease, opacity 0.5s ease;
}
.colors.show {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);  /* Desliza hacia abajo */
}
.color-btn:hover {
    transform: scale(1.1); 
}
.color-fondo-btn{
    width: 45px;
    height: 45px;   
    display: flex;
    border-radius: 99px;  
    align-items: center;
    justify-content: center;
    animation-duration: 100s;
    background: linear-gradient( rgb(46, 46, 46), rgb(119, 116, 116));
}
@keyframes rotacion {

    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(720deg);
    }   
}
.color-fondo{
    background-color: #1e1e1e !important;
    border: solid #1e1e1e !important;
    color: white !important;
    
}
.fijo{
    top: 86%;
    left: 89%;    
    width: 73px;
    height: 73px;
    z-index: 1;
    rotate: 90deg;
    display: flex;
    position: fixed;
    align-items: center;
    border-radius: 999px;
    justify-content: center;
    background-color: #d31212;
    animation:  entradafijjo 0.4s cubic-bezier(0.16, 0.02, 0.73, 0.98);

    a{
        width: 70px;
        height: 70px;
        display: flex;
        border-radius: 99px;
        align-items: center;
        justify-content: center;
        background-color: #0c0c0c;
        
           img{
        width: 26px;
    } 
    }
}
@keyframes entradafijjo {
    0%{        
        transform: translatey(-100px);filter: opacity(0%); 

    }
    100%{
        transform: translatey(0px);filter: opacity(100%);

    }
}


nav{
    background-color: rgb(0, 0, 0);
    ul div{
        display: flex;
        button{
            border-style: none;
            color: rgb(255, 255, 255);
            font-size: 15.5px;
            padding-inline: 2em;
            border-radius: 7px;
        }
    }
}
nav ul div li{
    transition-duration: 0.4s;
    border-radius: 7px ;
    margin-right: 10px;
    list-style-type: none;
}
nav ul div li:hover{
    
    transition-duration: 0.4s;
}

@keyframes animation-fondo {

    0%{background-position-y: 0;}
    100%{background-position-y: 1000px;}
    
}
    #los{
        animation: animation-fondo   200s ;

        background: linear-gradient( #1e1e1e, black , #1e1e1e );

        display: flex;
        justify-content: space-between;  
        div{
            align-items: center;
            li{
                animation:  entrada-li 0.4s cubic-bezier(0.16, 0.02, 0.73, 0.98);

            }
        } 
        img{
            margin: 10px ;
            width: 60px;
            border-radius: 99px;
            cursor: auto;
            cursor: pointer;
            border: solid #1e1e1e;
            pointer-events: none; 
        }
    }
@keyframes entrada-li {
        0%{
            transform: translatey(-100px); filter: opacity(0%); 
        }
        100%{
            transform: translatey(0px);filter: opacity(100%);
        }
    }
    

.navper{
    height: 69px;
    width: 69px;
    border-radius: 99px;
    margin: 10px ;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #be0101;
    animation:  entradanavpe 0.4s cubic-bezier(0.16, 0.02, 0.73, 0.98);
}
@keyframes entradanavpe {
    0%{
        transform: translateX(-100px);filter: opacity(0%); 
    }
    100%{
        transform: translateX(0px);filter: opacity(100%);
    }
}

#perfilm{
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    align-items: center;
    padding: 1em;
    img{
        width: 40%;
        pointer-events: none;
        filter: drop-shadow(0px 0px 5px rgba(110, 86, 86, 0.288));  
    }
}
.informacion{
    border-radius: 10px;
    background-color: #4b4b4b56;
    display: flex;
    flex-direction: column;
    padding: 1em;
    width: 50%; 
    h1{
        font-size: 35px;
        padding-bottom: 1em;
        display: flex;
    }
    p{
        text-align: justify;
        line-height: 20px;
    }
    }
.informacion h1 a{
    transition-duration: 0.3s;
    color: white;
}
.informacion h1 a:hover{
    color: red;
    font-size: 30px;
    transition-duration: 0.3s;
}
#proyectos{
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
        padding: 1em;
        font-size: 40px;
    }
}
#proyec{
    display: flex;
    flex-direction: column;
}
.proyectos-lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3em;
    a{ 
        text-decoration: none;
        color: white;
    }
}
.proyecto{
    background-color: #1e1e1e2f;
    width: 260px;
    height: 160px;
    border-radius: 10px;
    padding: 0.9em;
    margin: 1em;
    transition-duration: 0.3s;
    animation:  entrada-li 0.4s cubic-bezier(0.16, 0.02, 0.73, 0.98);

    h3{
        margin-bottom: 0.4em;
    }
}

.proyecto:hover{
    transform: translateY(-7px);
    transition-duration: 0.4s;
}
#habilidades{
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    h2{
        padding: 1em;
    }
}
.habi{
    font-size: 40px;
}
#hobbies{
    color: white;
}

#habilidades ul{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}  
#habilidades ul li{
    height: 8em;
    text-decoration-line: none;
    justify-content: center;
    display: flex;
}
.targ{
    margin: 0;
    padding: 1em;
    width:  147px;
    height: 204px;
    display: flex;
    border-radius: 10px;  
    align-items: center;      
    flex-direction: column;
    background-color: #1e1e1e2f;
}
.olas{
    border-radius: 99px ;
    width: 98px;
    height: 98px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.5s;
}
.olas:hover{
    scale: 1.1;
    transition-duration: all 0.5s;
}
.targ, .olas{
    margin: 0.8em;
}
.indicador{
    width: 95px;
    height: 95px;
    display: flex;    
    align-items: center;    
    border-radius: 99px;  
    justify-content: center;      
    background-color: black;
}


.fondored{
    background-color: red;
    border-radius: 99px;
    width: 50px;
    display: flex;
    justify-content: center;
}
/*fotografia*/











/*Fotos*/
.fotos {
    display: flex;
    justify-content: center;
}



.overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    transition: opacity 0.3s ease;
}

.popup {
    background-color: #131313e7;
    padding: 30px;
    border-radius: 10px;
    text-align: end;
    width: 100%;
}

#closeBtn {
    width: 80px;
    height: 38px;   
    background-color: #0e0e0e;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
}

.flotan-fotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

.flotan-fotos div button {
    color: white;
    background-color: #0c0c0c;
    padding: 0.4em;
    border-radius: 15px;
    border: 2px solid transparent;
    position: relative;
}

.flotan-fotos div button:hover {
    border-color: transparent;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3); 
}

.flotan-fotos div button:hover::before {
    animation: borderAnimation 2s infinite; 
}

.flotan-fotos div button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: 2px solid transparent;

}

.popup-content {
    width: 100%;
    height: 100vh;
    color: white;
    display: none;
    overflow: hidden;
    overflow: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #131313;
    padding: 30px;
    position: fixed;    
    z-index: 3;
    animation: fadeIn 0.5s ease-out  ; /* Aplicar la animación */
}
/* Animación para la ventana emergente */
@keyframes fadeIn {
    0% {
        opacity: 0;    }
    100% {
        opacity: 1;    }
}



.popup-inner {

    display: flex;
    align-items: start;
    flex-direction: column;


}

.close-btn {
    background-color: #0f0f0f;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    position: fixed;
    border: solid white 1px;

    z-index: 5;
}


@keyframes borderAnimation {
    0% {
        border-color: purple;
    }
    20% {
        border-color: red;
    }
    40% {
        border-color: yellow;
    }
    60% {
        border-color: white;
    }
    80% {
        border-color: green;
    }
    100% {
        border-color: blue;
    }
}

.flotan-fotos button {
    animation: floatEffect 3s ease-in-out infinite;
}

.floatEffect-2{
    animation: floatEffect-2 3s ease-in-out infinite !important;
}

@keyframes floatEffect {
    0% {
        transform: translateX(0) scale(1);
    }
    50% {
        transform: translateX(-5px) scale(1.05);
    }
    100% {
        transform: translateX(0) scale(1);
    }
}

@keyframes floatEffect-2 {
    0% {
        transform: translateX(0px) scale(1.05);
    }
    50% {
        transform: translateX(5px) scale(1);
    }
    100% {
        transform: translateX(0px) scale(1.05);    }
}

.card-4 {
    position: relative;
    width: 260px;
    height: 400px;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: all 0.3s ease;
  }
  
  .card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  
  .card-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom,#1e1e1e00 , #131313 35px);
    color: white;
    padding: 20px;
    transform: translateY(100%);
    transition: transform 0.3s ease;
  }
  .card-4:hover .card-image {
    transform: scale(1.1); /* Aumenta el tamaño de la imagen */
  }
  .card-4:hover .card-info {
    transform: translateY(0); /* Muestra la información al pasar el cursor */
  }
  




/*webs*/
h1{
    color: white;
}
.webs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.color-btns{
    background-color: #1e1e1e !important;
    border: solid #1e1e1e !important;
    margin-bottom: 1em !important;
}
.card{
    width: 379px;
    height: 230px;
    border-radius: 20px;
    transition: all 0.3s;
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}
#proyectos{
justify-content: center;
display: flex;
flex-wrap: wrap;
gap: 1em;
}
#proyectos div h1{
    margin-top: 1em;
    font-size: 35px;
}
.lavel{
    background-color: #4646465e !important;
    color: white !important;

}
.card2 {
    width: 377px;
    height: 314px;
    background-color: #080808;
    transition: all .2s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-around;
p{
    width: 87%;
    padding: 5px;
    margin-top: 8em;
}}
.canval{
background-color: #1e1e1e !important;
}
.card2 img{
width: 185px;
border-radius: 3px;
}
.card2 img:hover{
border-radius: 20px;
}
.card2:hover {
transform: scale(0.98);
border-radius: 20px;
}
#contacto{
    color: white;
}
#contacto div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}
#contacto{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    h2{
        padding: 0.7em;
    }
}
.tard{
    width: 130px;
    border-radius: 10px;
    background-color: #1e1e1e;
    margin: 1em;
    align-items: center;
}
.contenido{
    background-color: #000000;
    border-radius: 5px;
    width: 55px;
    height: 55px;
    border-radius: 99px;
    img{
        width: 35px;
        transition-duration: 0.3s;
     }
}
.tard-contend{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 99px;
    background-color: #be0101;
    width: 58px;
    height: 58px;
}
@media (max-width: 1250px) {

    .destacados1 {
        width: 180px;
    }
    .extraDiv{
        width: 90%;
    }
    .destacados1.moved {
        transform: translate(-350%, -2px); 
        opacity: 1;
        transition: 0.5s;
    }
}
@media (max-width: 600px) {
    .fijo{
        top: 86%;
        left: 84%;    
        width: 65px;
        height: 65px;
        z-index: 1;
        a{
            width: 60px;
            height: 60px;
               img{
            width: 26px;
        } 
    }}
    
    .navper{
        margin-top: 1em !important;
        width: 90px;
        height: 90px;
        

    }


    .informacion{
        width: 72%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #perfilm img{
        display: none;
    }
    #perfilm{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #los{

        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 ;
        padding: 0;
    }
    #los div{
        display: flex;
        flex-direction: column;
        align-items: center;    
    }
    #los div li{
        margin: 1em;
        list-style-type: none;
    }
    #los div img{
        width: 87px;
    }
    #perfilm {
        padding-top: 2em;
    }
    #proyectos h2{
        justify-content: center;
        text-align: center;
    }
    .proyecto{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #selection {
        justify-content: center;
        flex-direction: column; /* Cambiar a columna */
        padding: 10px;
    }
    .destacados1 {
        width: 90%; /* Más ancho en pantallas pequeñas */
        margin-bottom: 10px;
    }
    #extraDiv {
        width: 100%;
        height: 300px; /* Ajustamos la altura en pantallas pequeñas */
    }
    .destacados1 button.move-btn {
        width: 100%; /* Botón más grande */
        font-size: 16px;
        padding: 12px;
    }

}