
html{
    scroll-behavior: smooth  !important;
}
body{
    background-color: #1e1e1e !important;
}
*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: moncerat;
    src: url(font/static/Montserrat-Regular.ttf);
}
p{
    font-size: 15px !important;    
    font-family: moncerat !important;
}
h2,h1,li,h3{
    font-family: moncerat !important;
}
.arrow {
        top: 40px;    
        font-size: 40px;        
        position: fixed;
        cursor: pointer;
        transition: transform 0.3s ease, opacity 0.3s ease, top 0.5s ease;
        animation:  entrada-li 0.4s cubic-bezier(0.16, 0.02, 0.73, 0.98);

}


.arrow img{
    width: 30px;
}
.arrow.hide {
        opacity: 0;
        top: -30px; /* Mueve la flecha hacia arriba */
}
 .dynamic-color {
    background-color: red; 
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
}
.dynamic-color:hover {
    box-shadow: 0 0 20px 5px red;
    transition: background-color 0.3s, box-shadow 0.3s; 
}
.color-btn {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 99px;    
    transition: transform 0.2s ease;
}
.colors{
    top: 10px;
    gap: 10px;    
    width: 100%;
    z-index: 1;    
    display: flex;    
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: #1e1e1e;
    transform: translateY(-55px);  /* Inicialmente fuera de la vista */
    transition: transform 0.5s ease, opacity 0.5s ease;
}
.colors.show {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);  /* Desliza hacia abajo */
}
.color-btn:hover {
    transform: scale(1.1); 
}
.color-fondo-btn{
    width: 45px;
    height: 45px;   
    display: flex;
    border-radius: 99px;  
    align-items: center;
    justify-content: center;
    animation-duration: 100s;
    background: linear-gradient( rgb(46, 46, 46), rgb(119, 116, 116));
}
@keyframes rotacion {

    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(720deg);
    }   
}
.fijo{
    top: 86%;
    left: 89%;    
    width: 73px;
    height: 73px;
    rotate: 90deg;
    display: flex;
    position: fixed;
    align-items: center;
    border-radius: 999px;
    justify-content: center;
    background-color: #d31212;
    animation:  entradafijjo 0.4s cubic-bezier(0.16, 0.02, 0.73, 0.98);

    a{
        width: 70px;
        height: 70px;
        display: flex;
        border-radius: 99px;
        align-items: center;
        justify-content: center;
        background-color: #0c0c0c;
        
           img{
        width: 26px;
    } 
    }
}
@keyframes entradafijjo {
    0%{        
        transform: translatey(-100px);filter: opacity(0%); 

    }
    100%{
        transform: translatey(0px);filter: opacity(100%);

    }
}


nav{
    background-color: rgb(0, 0, 0);
    ul div{
        display: flex;
        button{
            border-style: none;
            color: rgb(255, 255, 255);
            font-size: 15.5px;
            padding-inline: 2em;
            border-radius: 7px;
        }
    }
}
nav ul div li{
    transition-duration: 0.4s;
    border-radius: 7px ;
    margin-right: 10px;
}
nav ul div li:hover{
    
    transition-duration: 0.4s;
}
    #los{
        display: flex;
        justify-content: space-between;  
        div{
            align-items: center;
            li{
                animation:  entrada-li 0.4s cubic-bezier(0.16, 0.02, 0.73, 0.98);

            }
        } 
        img{
            margin: 10px ;
            width: 60px;
            border-radius: 99px;
            cursor: auto;
            cursor: pointer;
            border: solid #1e1e1e;
            pointer-events: none; 
        }
    }
@keyframes entrada-li {
        0%{
            transform: translatey(-100px); filter: opacity(0%); 
        }
        100%{
            transform: translatey(0px);filter: opacity(100%);
        }
    }
    

.navper{
    height: 69px;
    width: 69px;
    border-radius: 99px;
    margin: 10px ;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #be0101;
    animation:  entradanavpe 0.4s cubic-bezier(0.16, 0.02, 0.73, 0.98);
}
@keyframes entradanavpe {
    0%{
        transform: translateX(-100px);filter: opacity(0%); 
    }
    100%{
        transform: translateX(0px);filter: opacity(100%);
    }
}

#perfilm{
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    align-items: center;
    img{
        width: 40%;
        pointer-events: none;
        filter: drop-shadow(0px 0px 5px rgba(110, 86, 86, 0.288));  
    }
}
.informacion{
    border-radius: 10px;
    background-color: #4b4b4b56;
    display: flex;
    flex-direction: column;
    padding: 1em;
    width: 50%; 
    h1{
        font-size: 35px;
        padding-bottom: 1em;
        display: flex;
    }
    p{
        text-align: justify;
        line-height: 20px;
    }
    }
.informacion h1 a{
    transition-duration: 0.3s;
    color: white;
}
.informacion h1 a:hover{
    color: red;
    font-size: 30px;
    transition-duration: 0.3s;
}
#proyectos{
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
        padding: 1em;
        font-size: 40px;
    }
}
#proyec{
    display: flex;
    flex-direction: column;
}
.proyectos-lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3em;
    a{ 
        text-decoration: none;
        color: white;
    }
}
.proyecto{
    background-color: #1e1e1e2f;
    width: 147px;
    height: 160px;
    border-radius: 10px;
    padding: 0.9em;
    margin: 1em;
    transition-duration: 0.3s;
    animation:  entrada-li 0.4s cubic-bezier(0.16, 0.02, 0.73, 0.98);

    h3{
        margin-bottom: 0.4em;
    }
}

.proyecto:hover{
    transform: translateY(-7px);
    transition-duration: 0.4s;
}
#habilidades{
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    h2{
        padding: 1em;
    }
}
.habi{
    font-size: 40px;
}
#hobbies{
    color: white;
}

#habilidades ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}  
#habilidades ul li{
    text-decoration-line: none;
    justify-content: center;
    display: flex;
}
.targ{
    width: 147px;
    height: 160px;
    background-color: #1e1e1e2f;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    border-radius: 10px;
}
.olas{
    border-radius: 99px ;
    width: 98px;
    height: 98px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.5s;
}
.olas:hover{
    scale: 1.1;
    transition-duration: all 0.5s;
}
.targ, .olas{
    margin: 0.8em;
}
.indicador{
    width: 95px;
    height: 95px;
    display: flex;    
    align-items: center;    
    border-radius: 99px;  
    justify-content: center;      
    background-color: black;
}


.fondored{
    background-color: red;
    border-radius: 99px;
    width: 50px;
    display: flex;
    justify-content: center;
}
/*fotografia*/
#fotografia{
    margin-top: 1em;
    font-size: 35px;
    display: flex;
    justify-content: center;
}


a img{
    width: 50px;
    margin: 1.2em;
    transition-duration: 0.2s;
}
.destacados1{
    height: 300px;
    background-color: rgb(27, 27, 27);
    width: 18em;
    border-radius: 10px;
    padding-inline: 20px;
    padding-top: 0.02px;
    margin-top: 1em;
    padding-bottom: 0.02px;
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

div img, video{
    width: 110px;
    height: 110px;
    border-radius: 99px;     
}
}
.sombrac{
    width: 115px;
    height: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 99px;
    background:  #be0101;
    transition: all 0.5s;
    margin-bottom: 10px;
}
.sombrac:hover{
    box-shadow: 0px 0px 30px 2px rgba(161, 29, 29, 0.521);
    scale: 1.1;
    transition: all 0.5s;
}
#selection {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    position: relative;
    padding: 20px;
}
#selection a{
    text-decoration: none;
}

.destacados1 {
    position: relative;
    width: 200px;
    text-align: center;
    transition: all 0.3s ease;
    opacity: 1;
    margin-bottom: 20px;
}
.destacados1.moved {
    transform: translate(-200%, -2px); 
    opacity: 1;
    transition: 0.5s;
}
/* Botón de mover */
.destacados1 button.move-btn {
    border-radius: 15px;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #0e0e0e !important;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
    transition: 0.5s;
}
.destacados1 button.move-btn:hover {
    box-shadow: 0px 0px 15px 5px rgba(161, 29, 29, 0.726);
    transition: 0.9s;
}
.extraDiv {
    display: none;
    position: absolute;
    top: -2px;
    right: 0;
    width: 65%;
    height: 325px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    box-shadow: -4px 0px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease;
    overflow: hidden; 
}
.btn-extradiv{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    color: white;
    width: 46px;
    height: 46px;
    border-radius: 15px;
    border: solid rgba(255, 0, 0, 0);
    background-color: #000000;
}
.btn-extradiv-1{
    background-color: black;
    border-radius: 15px;
    width: 44px;
    height: 44px;
}
.extraDiv .carousel {
    display: flex;
    align-items: center;
    margin-top: 15px;
    width: 100%;
    transition: transform 0.5s ease;
}
.extraDiv video {
    width: 100%;
    height: 200px;
    margin: 20px;
    object-fit: cover;
    transition: all 0.5s;
}
.extraDiv video:hover{
    box-shadow: 0px 0px 30px 2px rgba(161, 29, 29, 0.521);
    scale: 1.05;
    transition: all 0.5s;
}
.carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
}
.left-arrow {
    left: 10px;
}
.right-arrow {
    right: 10px;
}
@media (max-width: 1250px) {
    .destacados1 {
        width: 180px;
    }
    .extraDiv{
        width: 90%;
    }
    .destacados1.moved {
        transform: translate(-350%, -2px); 
        opacity: 1;
        transition: 0.5s;
    }
}
@media (max-width: 600px) {
    #selection {
        justify-content: center;
        flex-direction: column; /* Cambiar a columna */
        padding: 10px;
    }
    .destacados1 {
        width: 90%; /* Más ancho en pantallas pequeñas */
        margin-bottom: 10px;
    }
    #extraDiv {
        width: 100%;
        height: 300px; /* Ajustamos la altura en pantallas pequeñas */
    }
    .destacados1 button.move-btn {
        width: 100%; /* Botón más grande */
        font-size: 16px;
        padding: 12px;
    }
}
/*webs*/
h1{
    color: white;
}
.webs{
    gap: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}
.card{
    width: 379px;
    height: 230px;
    border-radius: 20px;
    transition: all 0.3s;
    margin-top: 1em;
}
#proyectos{
justify-content: center;
display: flex;
flex-wrap: wrap;
gap: 1em;
}
#proyectos div h1{
    margin-top: 1em;
    font-size: 35px;
}
.card2 {
    width: 379px;
    height: 230px;
    background-color: #080808;
    transition: all .2s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-around;
p{
    width: 87%;
    padding: 5%;
    margin-top: 8em;
}
}
.card2 img{
width: 185px;
border-radius: 3px;
}
.card2 img:hover{
border-radius: 20px;
}
.card2:hover {
transform: scale(0.98);
border-radius: 20px;
}
#contacto{
    color: white;
}
#contacto div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}
#contacto{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    h2{
        padding: 0.7em;
    }
}
.tard{
    width: 130px;
    border-radius: 10px;
    background-color: #1e1e1e;
    margin: 1em;
    align-items: center;
}
.contenido{
    background-color: #000000;
    border-radius: 5px;
    width: 55px;
    height: 55px;
    border-radius: 99px;
    img{
        width: 35px;
        transition-duration: 0.3s;
     }
}
.tard-contend{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 99px;
    background-color: #be0101;
    width: 58px;
    height: 58px;
}
